body{
  width: 1200px;
  margin: auto;
}
table {
  width:450px;
  border-collapse: collapse;
  margin: 15px auto;
}
.head{
  border-bottom:1px solid;
}
img.img{
  width: 80px;
}
.result{
  text-align: center;
  color:red;
}
.total{
  text-align: right;
}
.move a {
    /* padding: 10px 0; */
    text-decoration: none;
    color: #f46736;
}
.move {
    text-align: center;
    text-decoration: none;
    width: 50%;
    margin: 10px auto;
    border: solid 1px;
    border-radius: 15px;
    paddding: 10px 0;
    padding: 3px 0;
}